.comments__add-comment-txt-limit {
    grid-area: textInfo;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
    opacity: .4;
    margin: 0;
    padding: 0;
    align-self: center;
    justify-self: end;
}