.comments__select-option-input {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 15px;
    height: 15px;
    transform: translateY(2.5px);
}

.comments__select-option-input:checked {
    content: url("../../../Images/checkmark.png");
    width: 15px;
    height: 15px;
}