.comments__sort-button {
    background: none;
    border: none;
    background-image: url("../../../Images/sort_button.png");
    height: 15px;
    width: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 3px 5px;
}

.comments__sort-button:hover {
    cursor: pointer;
    transform: scaleY(-1);
}