.comments__fav-display-button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0 0 0 50px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    opacity: .4;
    display: flex;
}

.comments__fav-display-button:hover {
    cursor: pointer;
}