.comments__select-button {
    border: none;
    width: 177px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    opacity: .4;
    padding: 0;
    background: none;
}

.comments__select-button:hover {
    cursor: pointer;
}